<% if user_signed_in? %>
  <center><%= link_to "New Disease", new_crop_symptom_path, class: "btn btn-success" %></center>
<% end %>
<h3 id ="h3h" class="center" style="color: white;"> Pest/Disease Identification </h3>
<div id="symptoms" class="transitions-enabled">
  <% @crop.symptoms.each do |symptom| %>
    <div class="boxs panel panel-default">
      <h5 class="center title">
        <%= symptom.title %>
      </h5>
      <%= link_to image_tag(symptom.image.url(:large)), crop_symptom_path(@crop,symptom) %>
      <% if user_signed_in? %>
        <div class="panel-footer">
          <%= link_to 'Show', crop_symptom_path(@crop,symptom) %>
          | <%= link_to 'Edit', edit_crop_symptom_path(@crop,symptom) %>
          | <%= link_to "Delete", [symptom.crop,symptom],
                          method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<% if false %>
<% if user_signed_in? %>
  <br>
<% end %>

<div class="center">
  <%= will_paginate @symptoms, renderer: BootstrapPagination::Rails %>
</div>
<% end %>