<div class="container">
    <div class="panel sh panel-default">
      <div class="panel-body ps">
          <h3 style="text-align: center;">Disease:&nbsp; <%= @symptom.title %></h3>
        <p style="text-align: center;">
          <%= link_to image_tag(@symptom.image.url(:large)), @symptom.image.url %>
        </p>
        <p>
          <h4><b>Symptom</b></h4>
          <div class="well wells well-sm">
            <%= @symptom.text %>
          </div>
        </p>
        <p>
          <h4><b>Remedy</b></h4>
          <div class="well wells well-sm">
            <%= @symptom.remedy %>
          </div>
        </p>

      </div>
      <div class="panel-footer">
        <%= link_to 'Back', crop_symptoms_path %>
      </div>
    </div>
</div>


<% if false %>
  <%= link_to 'Edit', edit_crop_symptom_path(@crop,@symptom) %>
<% end %>