<% if user_signed_in? %>
  <center><%= link_to "New Language", new_language_path, class: "btn btn-success" %></center>
<% end %>


<h3 id ="h3h" class="center" style="color: white;"> Language Selection </h3>
<div id="languages" class="transitions-enabled">
  <% @languages.each do |language| %>
    <div class="boxl panel panel-default">
      <h5 class="center title">
        <b><%= language.title %></b>
      </h5>
      <%= link_to image_tag(language.image.url(:large)), home_path %>
      <% if false %>
        <div class="panel-footer">
          <%= link_to 'Show', language_path(language) %>
          | <%= link_to 'Edit', edit_language_path(language) %>
          | <%= link_to 'Delete', language_path(language),
                        method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>