<div id="crops" class="transitions-enabled">
  <% @crops.each do |crop| %>
    <div class="box panel panel-default">
      
      <%= link_to image_tag(crop.image.url(:med)), crop_path(crop) %>
      <div class="panel-body">

          <%= link_to 'Show', crop_path(crop) %>
          <%= link_to 'Edit', edit_crop_path(crop) %>
          <%= link_to 'Destroy', crop_path(crop),
                          method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>

<div class="center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>