<div class="container">
  <div class="col-md-offset-4 col-md-4">
    <div class="panel panel-default">
      <div class="panel-body" style="text-align: center;">
        <p>
          <strong>Title:</strong>
          <%= @crop.title %>
        </p>
          <%= link_to image_tag(@crop.image.url(:med)), @crop.image.url %>
        <p>
          <strong>Text:</strong>
          <%= @crop.text %>
        </p>

        <h2>Symptoms</h2>
        <% @crop.symptoms.each do |symptom| %>
          <p>
            <strong>Title:</strong>
            <%= symptom.title %>
          </p>
          </p>
            <%= link_to image_tag(symptom.image.url(:med)), symptom.image.url %>
          <p>
          <p>
            <strong>Text:</strong>
            <%= symptom.text %>
          </p>
        <% end %>
        
          <h2>Add a Symptom:</h2>
          <%= form_for([@crop, @crop.symptoms.build]) do |f| %>
            <p>
              <%= f.label :Title %><br>
              <%= f.text_field :title %>
            </p>
            <p>
              <%= f.label :image %><br>
              <%= f.file_field :image%>
            </p>
            <p>
              <%= f.label :Text %><br>
              <%= f.text_area :text %>
            </p>
            <p>
              <%= f.submit %>
            </p>
          <% end %>

      </div>
      <div class="panel-footer">
        <%= link_to 'Back', crops_path %>
        | <%= link_to 'Edit', edit_crop_path(@crop) %>
      </div>
    </div>
  </div>
</div>