<div class="container">
  <div class="col-md-offset-4 col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          <h3>Title:</h3>
          <%= @crop.title %>
        </p>
          <%= link_to image_tag(@crop.image.url(:med)), @crop.image.url %>
        <p>
          <h4>Text:</h4>
          <%= @crop.text %>
        </p>

        <h3>Symptoms</h3>
        <% @crop.symptoms.each do |symptom| %>
          <p>
            <h5>Title:</h5>
            <%= symptom.title %>
          </p>
          </p>
            <%= link_to image_tag(symptom.image.url(:med)), symptom.image.url %>
          <p>
          <p>
            <h6>Text:</h6>
            <%= symptom.text %>
          </p>
        <% end %>
        
          <h3>Add a Symptom:</h3>
          <%= form_for([@crop, @crop.symptoms.build]) do |f| %>
            <div class="form-group">
              <div><%= f.label :Title %><br>
              <%= f.text_field :title, class: "form-control"%></div>
            </div>
            <div class="form-group">
              <div><%= f.label :image %><br>
              <%= f.file_field :image%></div>
            </div>
            <div class="form-group">
              <div><%= f.label :Text %><br>
              <%= f.text_area :text, class: "form-control" %></div>
            </div>
            <%= button_tag(type: 'submit', class: "btn btn-success") do %>
              Submit
            <% end %>
          <% end %>

      </div>
      <div class="panel-footer">
        <%= link_to 'Back', crops_path %>
        | <%= link_to 'Edit', edit_crop_path(@crop) %>
      </div>
    </div>
  </div>
</div>